NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY

NEXT_PUBLIC_OWNER_NAME=Mathis
NEXT_PUBLIC_OWNER_PHOTO_URL=/1759855646461.jpeg
NEXT_PUBLIC_BRAND_NAME=Charlie
NEXT_PUBLIC_BRAND_LOGO_URL=/charlie-favicon-no-background.png
NEXT_PUBLIC_SITE_URL=http://localhost:3000
